.contact_section {
  padding: 0 30px 60px;
  h3 {
    margin-bottom: 30px;
    border-top: 2px solid var(--primary);
    text-align: start !important;
    padding: 20px 10px;
  }
  .contact_wrapper {
    display: flex;
    flex-direction: column;
  }
  .mail {
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .social-wrapper {
    padding: 0 10px;
    margin: 0;
  }
}
@include mobile {
  .contact_section {
    .mail {
      font-size: $font-xs;
    }
  }
}
@include pad-V {
  .contact_section {
    .contact_wrapper {
      flex-direction: row;
      align-items: center;
    }
    .mail {
      margin: 0;
      margin-right: 60px;
    }
  }
}
