.hamburger {
  --transition-to-line: 0.8s;
  --cross-deg: 40deg;
  --transition-cross-lineToCross: 0.5s;
  --transition-cross-hamToLine: 0.3s;
  --transition-behavior: cubic-bezier(0.55, 0.07, 0.95, 0.27);
}
.hamburger {
  height: 30px;
  width: 30px;
  position: relative;
  .ham-filling {
    position: absolute;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 1px;
    transform: translate(-50%, -50%);
  }
  &.three-fillings {
    .ham-filling {
      &:nth-child(1) {
        top: 30%;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 70%;
      }
    }
  }
  &.two-fillings {
    .ham-filling {
      &:nth-child(1) {
        top: 40%;
      }
      &:nth-child(2) {
        top: 60%;
      }
    }
  }
  &.open {
    &.open-style__line {
      &.two-fillings {
        .ham-filling {
          &:nth-child(1) {
            top: 50%;
          }
          &:nth-child(2) {
            top: 50%;
          }
        }
      }
      &.three-fillings {
        .ham-filling {
          &:nth-child(1) {
            top: 50%;
          }
          &:nth-child(2) {
            top: 50%;
          }
          &:nth-child(3) {
            top: 50%;
          }
        }
      }
    }
    &.open-style__cross {
      &.two-fillings {
        .ham-filling {
          &:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(var(--cross-deg));
          }
          &:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(calc(var(--cross-deg) * -1));
          }
        }
      }
    }
  }
  &.open-style__line .ham-filling {
    transition: var(--transition-to-line) var(--transition-behavior);
  }
  &.open-style__cross {
    &.two-fillings {
      .ham-filling {
        transition: top var(--transition-cross-hamToLine)
            var(--transition-cross-lineToCross) var(--transition-behavior),
          transform var(--transition-cross-lineToCross)
            var(--transition-behavior);
      }
      &.open {
        .ham-filling {
          transition: top var(--transition-cross-hamToLine)
              var(--transition-behavior),
            transform var(--transition-cross-lineToCross)
              var(--transition-cross-hamToLine) var(--transition-behavior);
        }
      }
    }
  }
}
