.mobile-menu__drawer {
  --menu-drawer-bg: #fff;
  --mobile-menu-padding-top: 60px;
  --menu-item-height: var(--mobile-menu-padding-top);
  --menu-item-devide-color: var(--gray-200);
  --menu-drawer-trasition: 0.5s;
}
.mobile-menu__drawer {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: var(--menu-drawer-bg);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100%;
  transition: var(--menu-drawer-trasition);
  &.ttb {
    transform: translateY(-100%);
    &.open {
      transform: translateY(0%);
    }
  }
  &.padding-top {
    padding-top: var(--mobile-menu-padding-top);
  }
}
.mobile-menu__nav-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu__nav-item {
  height: var(--menu-item-height);
  display: flex;
  width: 100%;
  align-items: center;
  a {
    background: var(--menu-drawer-bg);
    border-top: 1px solid var(--menu-item-devide-color);
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &:last-child a {
    border-bottom: 1px solid var(--menu-item-devide-color);
  }
}
